anyio==4.6.2.post1
asgiref==3.8.1
backoff==2.2.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Django==5.1.2
django-graphql-jwt==0.4.0
Flask==3.0.3
Flask-JWT-Extended==4.6.0
gql==3.5.0
graphene==3.4
graphene-directives==0.4.6
graphene-django==3.2.2
graphene-federation==3.2.0
graphene-file-upload==1.3.0
graphql-core==3.2.5
graphql-relay==3.2.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
multidict==6.1.0
numpy==1.26.4
pillow==11.0.0
promise==2.3
propcache==0.2.0
psycopg==3.2.3
psycopg-binary==3.2.3
PyJWT==2.8.0
python-dotenv==1.0.1
requests==2.32.3
requests-toolbelt==1.0.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlparse==0.5.1
text-unidecode==1.3
typing_extensions==4.12.2
urllib3==2.2.3
uuid==1.30
Werkzeug==3.0.4
yarl==1.18.0
